.about-us-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

.about-us-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.25rem;
  text-align: center;
}

.about-us-description {
  font-size: 1.125rem;
  color: #666;
  margin-bottom: 1.875rem;
  margin-right: 0;
  text-align: center;
}

.about-us-content {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .about-us-container {
    width: 95%;
    padding: 15px;
  }

  .about-us-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .about-us-description {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .about-us-content {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .about-us-container {
    width: 98%;
    padding: 10px;
  }

  .about-us-heading {
    font-size: 1.75rem;
    margin-bottom: 0.875rem;
  }

  .about-us-description {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }

  .about-us-content {
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
  }
}
